# Block directory indexes
Options -Indexes 

# Custom error doc
ErrorDocument 404 /notfound/
ErrorDocument 403 /notfound/

# Redirection of www.* to non-www.*
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.arka-nitd.github.io
RewriteRule (.*) http://arka-nitd.github.io/ [R=301,L]

Header unset X-Powered-By

# GZip
<IfModule mod_deflate.c>
<FilesMatch "\.(html|js|css|xml)$">
SetOutputFilter DEFLATE
</FilesMatch>
</IfModule>
