<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    {% if page.title %}
    <title>{{ page.title }} &mdash; {{ site.title }}</title>
    {% else %}
    <title>{{ site.title }}</title>
    {% endif %}
    {% assign description = site.description %}
    {% if page.description %}
        {% assign description = page.description %}
    {% endif %}
    <meta name="description" content="{{ description }}" />
    {% assign keywords = site.keywords %}
    {% if page.keywords %}
        {% assign keywords = page.keywords %}
    {% endif %}
    <meta name="keywords" content="{{ keywords | join: "," }}" />
    <meta name="author" content="{{ site.author.name }}" />
    <link rel="alternate" type="application/atom+xml" title="{{ site.author.name }}" href="/feed.xml">
    <link href="{{ site.author.openid.server }}" rel="openid2.provider" />
    <link href="{{ site.author.openid.delegate }}" rel="openid2.local_id" />
    <link href="{{ site.author.openid.server }}" rel="openid.server" />
    <link href="{{ site.author.openid.delegate }}" rel="openid.delegate" />
    <link rel="icon" type="image/vnd.microsoft.icon" href="/homepage/assets/themes/default/images/favicon.ico" />
    <link rel="icon" type="image/png" href="/homepage/assets/themes/default/images/favicon.png" />
    <link rel="apple-touch-icon" href="/homepage/assets/themes/default/images/title.jpg"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
    <meta name="viewport" content="width=800" />    
    {% for stylesheet in site.stylesheets %}
    <link rel="stylesheet" href="{{ stylesheet }}" media="screen" />            
    {% endfor %}
    {% for stylesheet in page.stylesheets %}
    <link rel="stylesheet" href="{{ stylesheet }}" media="screen" />            
    {% endfor %}    
    <!--[if IE]>
    <script src="/homepage/assets/themes/default/js/html5.js"></script>
    <![endif]-->    
    {% for script in site.scripts %}
    <script src="{{ script }}" type="text/javascript"></script>
    {% endfor %}
    {% for script in page.scripts %}
    <script src="{{ script }}" type="text/javascript"></script>
    {% endfor %}    
</head>
<body class="{{ page.bodyclass }}">
<div id="wrapper">
<div id="inner_wrapper">    
    <div id="container">          
        <header id="title">
            <h1><a href="/homepage/">{{ site.title }}</a></h1>
        </header>        
        <nav id="main_nav">
            <ul>
                {% for section in site.sections %}
                <li><a href="/homepage/{{ section }}/" class="{{ section }}">{{ section }}</a></li>
                {% endfor %}
            </ul>
        </nav>        
        <div id="content">
        {{ content }}
        </div>        
    </div>    
    <div id="footer-wrapper">
        <footer>
<!--            <section title="Colophon" class="colophon" itemscope itemtype="http://data-vocabulary.org/Person">-->
<!--                <p><span itemprop="name">Arka Roy</span> is a <span itemprop="role">Software Engineer</span> from Bangalore-->
<!--                    <a href="/about/" title="More about Arka">Read on.</a></p>-->
<!--                <p>Also,</p>-->
<!--                <nav>-->
<!--                    <ul>-->
<!--                        <li><a href="{{ site.author.linkedin }}">LinkedIn</a></li>-->
<!--                        <li><a href="mailto:{{ site.author.email }}">Email</a></li>-->
<!--                    </ul>-->
<!--                </nav>-->
<!--            </section>-->
<!--            <section title="Twitter" class="bookmarks">-->
<!--                <h1><a href="{{ site.author.twitter }}" title="Twitter">Twitter</a></h1>-->
<!--                <nav></nav>-->
<!--            </section>-->
<!--            <section title="GitHub" class="bookmarks">-->
<!--                <h1><a href="{{ site.author.github }}" title="GitHub">GitHub</a></h1>-->
<!--                <nav></nav>-->
<!--            </section>-->
<!--            <section title="Facebook" class="bookmarks">-->
<!--                <h1><a href="{{ site.author.facebook }}" title="Facebook">Facebook</a></h1>-->
<!--                <nav></nav>-->
<!--            </section>-->
<!--            <section title="Copyright" class="attribution">-->
<!--                <p>Copyright &copy; {{ site.time | date: "%Y" }} {{ site.author.name }}.  <a href="http://creativecommons.org/licenses/by/3.0/us/">Some rights reserved</a>.</p>-->
<!--            </section>-->

            <div class="social">
                <div class="contact-icons">
                    <a href="mailto:{{ site.author.email }}" title="email"><i class="fa fa-envelope"></i></a>
                    <a href="{{ site.author.googlescholar }}" title="email"><i class="ai ai-google-scholar-square ai-1x"></i></a>
                    <a href="mailto:{{ site.author.email }}" title="email"><i class="fa fa-linkedin"></i></a>
                    <a href="mailto:{{ site.author.email }}" title="email"><i class="fa fa-facebook"></i></a>
                    <a href="mailto:{{ site.author.email }}" title="email"><i class="fa fa-twitter"></i></a>
                </div>
            </div>

            <div class="contact-note">
                © Copyright 2023 Arka Roy. Powered by Jekyll and inspired by <a href="https://michaelmonteleone.net/">michaelmonteleone.net</a>
            </div>
        </footer>
        <div style="clear:both"></div>
    </div>    
</div>
</div>
{% include analytic.html %}
</body>
</html>
